@page "/cameras"
@attribute [Authorize(Roles = "Admin,Normal")]
@inject ICameraService CameraService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Identity

<h3>Registered Cameras</h3>

<table class="table">
    <thead>
        <tr>
            <th>Camera</th>
            <AuthorizeView Roles="Admin">
                <th>User</th>
            </AuthorizeView>            
            <th>Location</th>
            <th>Parameter</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var camera in CameraService.Cameras)
        {
            <tr>
                <td>@camera.Name</td>
                <AuthorizeView Roles="Admin">   
                    <td>@camera.User</td>
                </AuthorizeView>
                <td>@camera.Location</td>
                <td>@camera.Parameter</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowCamera(camera.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>    
</table>
<button class="btn btn-primary" @onclick="CreateNewCamera">Create New Camera</button>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Inject]
    UserManager<IdentityUser> userManager { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
        var currentUser = await userManager.GetUserAsync(user);
        string currentUserId = currentUser.Id;
        string currentUserEmail = currentUser.Email;

        var roleNames = await userManager.GetRolesAsync(currentUser);       // Get roleName from user
        string roleName = roleNames[0].ToString();

        if (roleName == "Admin")
        {
            await CameraService.LoadCameras();
        }
        else
        {
            await CameraService.LoadMyCameras(currentUserEmail);
        }        
    }

    void ShowCamera(int id)
    {
        NavigationManager.NavigateTo($"camera/{id}");
    }

    void CreateNewCamera()
    {
        NavigationManager.NavigateTo("camera");
    }
}