@page "/video"
@attribute [Authorize]

@*자바스크립트 사용을 위한 injection*@
@inject IJSRuntime _JsRuntime

<h3>Video</h3>

<div class="form-group">
    <label>
        Name:
        <input id="cam_name" size="10" placeholder="HK_ComCam01"/>
    </label>
    <button class="btn btn-primary" id="send_video" @onclick="SendVideo">Send Video</button>
    <button class="btn btn-danger" id="stop_video" @onclick="StopVideo">Stop Video</button>
</div>

<div class="row">
    <div class="col-6">
        <video id="canvas_video" width="320" height="240" autoplay></video>
    </div>
    <div class="col-6">
        <canvas hidden id="canvas_image" width="320" height="240"></canvas>
    </div>
</div>
<ul id="rx_msg">      
</ul>

@code {
    private async Task SendVideo()
    {
        await _JsRuntime.InvokeVoidAsync("SendVideo");      // 자바스크립트 함수 ShowVideo을 호출
    }
}
@code {
    private async Task StopVideo()
    {
        await _JsRuntime.InvokeVoidAsync("StopVideo");      // 자바스크립트 함수 ShowVideo을 호출
    }
}