<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">        
        <a class="navbar-brand" href="" style="font-size:25px"><img src="img/HawkAI_Logo3.jpg" height="35" /> HawkAI </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>       

        <AuthorizeView Roles="Admin,Normal">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cameras">
                    <span class="oi oi-camera-slr" aria-hidden="true"></span> Camera
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="events">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Event
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="video">
                    <span class="oi oi-video" aria-hidden="true"></span> Video
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="projects">
                    <span class="oi oi-folder" aria-hidden="true"></span> Projects
                </NavLink>
            </div>
        </AuthorizeView>
        
        <hr class="my-hr1"/>

        <AuthorizeView Roles="Admin,Normal">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="https://ictrobot.hknu.ac.kr:8089">
                    <span class="oi oi-play-circle" aria-hidden="true"></span> WebRTC
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="webrtc">
                    <span class="oi oi-account-login" aria-hidden="true"></span> WebRTC JS
                </NavLink>
            </div>
        </AuthorizeView>
        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/test/opencv">
                <span class="oi oi-bug" aria-hidden="true"></span> OpenCV
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/test/motion_detection">
                <span class="oi oi-bug" aria-hidden="true"></span> Motion Detection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/test/chat">
                <span class="oi oi-chat" aria-hidden="true"></span> SignalR Chat
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/test/mqtt">
                <span class="oi oi-link-intact" aria-hidden="true"></span> MQTT Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/test/fcm">
                <span class="oi oi-bell" aria-hidden="true"></span> FCM Test
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/test/webcam">
                <span class="oi oi-play-circle" aria-hidden="true"></span> WebCam
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/example/webgl">
                <span class="oi oi-plus" aria-hidden="true"></span> WebGL
            </NavLink>
        </div>


        <hr class="my-hr1"/>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="/example/counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/example/fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/example/videogames">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Video Games
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/example/superheroes">
                <span class="oi oi-people" aria-hidden="true"></span> Super Heroes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/example/blazorJs">
                <span class="oi oi-list" aria-hidden="true"></span> Blazor JS
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
